#color{

    background-color: red;

}
td, th{
  padding:15px;

}
th{
  text-align: left;
}
*{
  background-color:powderblue;
}
table, td, th {
    border: 1px solid black;
  border-collapse: collapse;
}
table{
  border-spacing: 5px;
 }
#color{

    background-color: red;

}
