<html lang="en"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sunil Dhaka</title>
</head>
<body style="
    background-color: bisque;
    font-family: sans-serif;
">
  <div class="left" style="
    float: left;
    width: 24%;
    padding: px;
    background-color:#ffe4c4;
    margin: 10px;
    height: 545px;
    box-shadow: 0 4px 8px 0 #795548, 0 6px 20px 0 #795548;
">
    <div class="img">
	      <img src="C:\Users\Dhaka S\Desktop\myprojects\site-1\day41.css\images\artist-band-bass-92080.jpg" alt="ART" style="
    width: 319.91px;
    height: 210px;
">

    </div>
    <div class="address" style="
    background-color: #483d2b;
    position: relative;
    top: -20px;
    width: 319.91px;
    /* margin-left: 1px; */
    border: #61a26f;
    color: #eca5da;
    height: 200px;
">


      <p style="
    position: relative;
    top: 9px;
    left: 20px;
">IIT,Kanpur(UP),INDIA</p>
      <br style="
    /* height: 5px; */
">
      <p style="
    position: relative;
    top: -9px;
    left: 20px;
">Salasar,Churu,RAJ.</p>
      <br>
      <p style="
    position: relative;
    top: -26px;
    left: 20px;
">Email:<a href="mailto:sunild@iitk.ac.in">sunild@iitk.ac.in</a></p>
      <br>
      <p style="
    position: relative;
    top: -44px;
    left: 20px;
">Contact:Hall 2,Room NO.:380</p>
      <div class="ruler" style="
    height: 1px;
    position: relative;
    top: -39px;
    background-color: #13eaae;
    margin-inline-end: 8px;
    /* margin-block-start: 8px; */
    margin-inline-start: 8px;
">

      </div>
    </div>

    <div class="education" style="
    background-color: #483d2b;
    position: relative;
    top: -40px;
    height: 140px;
">
	<h2 style="
    margin-inline-start: 7px;
    position: relative;
    top: 8px;
">Education:</h2>
      <div style="
    color: #f9c384;
"><ul style="
    position: relative;
    left: -2px;
">
        <li style="/* text-decoration: underline; */position: relative;top: -5px;"><a href="#" style="
    color: bisque;
">Thar Senior School</a></li>
        <li style="
    position: relative;
    top: -2px;
"><a href="#">Matrix Institue,Sikar</a></li>
        <li style="
    position: relative;
    top: 2px;
"><a href="#">IIT Kanpur</a></li>
      </ul></div>
    <div class="ruler" style="
    height: 1px;
    position: relative;
    top: px;
    background-color: #13eaae;
    margin-inline-end: 8px;
    /* margin-block-start: 8px; */
    margin-inline-start: 8px;
">

      </div>
    </div>
  </div>
  <div class="container" style="width: 71%;height: 808.28;float: right;background: #f9f8f7;margin-right: 10px;margin-top: 9px;text-indent: 40px;box-shadow: black;margin-left: 10px;box-shadow: 0 4px 8px 0 #00BCD4, 0 6px 20px 0 #00BCD4;">
    <div class="part1" style="
    color: #00ffff;
">
      <h2>Informations</h2>
    </div>
    <div class="part2" style="
    color: aqua;
">
<h3 style="
    color: aqua;
    color: inherit;
"><a href="#">Astronomy Picture of the Day: (NASA)</a></h3>
<ul style="
    text-indent: -0px;
    margin-left: 40px;
    margin-right: 40px;
    color: aqua;
    list-style: circle;
">
  <li style="
    text-align: justify;
    margin-right: 0px;
    color: #00ffff;
">Each day a different image or photograph of our fascinating universe is featured, along with a brief explanation written by a professional astronomer.
</li>
  <li>Archive : Discover the cosmos. / Calander View</li>
</ul>
    </div>
    <div class="part3">
      <h3><a href="#">Exam Scheduler</a></h3>
      <ul style="
    list-style: circle;
">
        <li style="
    text-indent: -0px;
    margin-left: 40px;
    margin-right: 40px;
    color: aqua;
">Check your Mid-Semester and End-Semester Exam Schedule for particular roll no. Use LAN or FortiClint VPN .
      </li>

      </ul>
    </div>
    <div class="part4">
<h3><a href="#">Course Materials</a></h3>
<p style="
    color: aqua;
">Contains Lecture Materials, Relevant Books, Assignments, Quiz and Exam Papers.</p>
<ul style="
    text-indent: -0px;
    margin-left: 40px;
    margin-right: 40px;
    color: aqua;
    list-style: circle;
">
  <li>1st Year Institute Compulsory(IC) Courses : CHM101A, CHM102A, ESC101A, LIF101A, MTH101A, MTH102A, PHY101A, PHY102A, PHY103A, TA101A.</li>
  <li>2nd Year Compulsory(IC) Courses : ESC201A, TA201A, TA202A, COM200.</li>
  <li>Elementary Science Options : ESO's , MSO's , PSO, etc.</li>
  <li>Humanities And Social Sciences (HSS) : ART's, ECO's, ENG's, PSY's, SOC's, etc.</li>
  <li style="
    /* text-indent: -0px; */
    /* margin-left: 40px; */
    /* margin-right: 40px; */
    /* color: aqua; */
">Department Courses: Aerospace Engineering(AE), Biological Sciences and Bio-Engineering(BSBE), Civil Engineering(CE), Chemical Engineering(CHE), Computer Science and Engineering(CSE), Electrical Engineering(EE), Mechanical Engineering(ME), Materials Science and Engineering(MSE), Physics(PHY), Mathematics and Scientific Computing(MnC) / (MTH).</li>
</ul>
    </div>
    <div class="part5">
<h3 style="
    color: #551a99;
">Student Search</h3>
<ul style="
    text-indent: -0px;
    margin-left: 40px;
    margin-right: 40px;
    color: aqua;
    list-style: circle;
">
  <li style="
    position: relative;
    left: 0px;
">Search for your friends in campus with their name, email, roll no, city, etc.</li>
  <li>Only accessible for Insider : LAN or VPN.</li>
  <li>How to set up <a href="">FortiClint SSL VPN</a> for Windows System.</li>
</ul>
    </div>
    <div class="part6">
<h3>
  <a href="#">Unnat Bharat Abhiyan</a></h3>
  <p style="
    -webkit-margin-after-collapse: 12px;
    text-align: justify;
    text-align-last: left;
    text-align-start: justify;
    text-indent: -0px;
    margin-left: 40px;
    margin-right: 40px;
    color: aqua;
">The Ministry of Human Resource Development (MHRD) has launched a programme called Unnat Bharat Abhiyan with an aim to connect institutions of higher education, including Indian Institutes of Technology (IITs), National Institutes of Technology (NITs) and Indian Institutes of Science Education &amp; Research (IISERs) etc. with local communities to address the development challenges through appropriate technologies.</p>
  <ul style="
    text-indent: -0px;
    margin-left: 40px;
    margin-right: 40px;
    color: aqua;
    list-style: circle;
">
    <li>Press Release <a href="#">(PIB)</a></li>
    <li>UBA IIT Kanpur Facebook Page - <a href="#">UBA</a> .</li>
  </ul>

    </div>
  </div>
<div style="
    height: 100px;
    position: relative;
    top: 850px;
    margin: 0px;
    width: 1348px;
    background-color: #6c7575;
    position: relative;
    left: -8px;
">
    <p style="
    position: absolute;
    left: 330px;
    top: 10px;
    text-align: center;
    height: 50px;
    width: 700px;
    color: #f1d2c3;
">2018-2019 All rights reserved to DHAKA S</p>
  <img src="https://www.w3schools.com/images/w3schoolscom_gray.gif" alt="W3.schools" style="
    position: absolute;
    left: 610;
    top: 50;
    text-align: center;
    height: 40;
    width: 150px;
    color: #5d6122eb;
    background: #6c7575;
">


</div>







</body></html>
