<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Please Login</title>
</head>
<body>
  <div class="contentWrapper">
    <div class="header">
      <img src="http://brihaspati.nmeict.in/brihaspati/images/englishbrihaspati3.png" alt="">
      <img src="http://brihaspati.nmeict.in/brihaspati/images/Logo/logo" alt="">
    <!--  <img src="" alt="">-->
    </div>
    <div class="ruler">

    </div>
    <div class="main">
      <p><b>Best Wishes for New Academic Year 2018-2019.
"Life is like riding a bicycle. To keep your balance, you must keep moving." - Albert Einstein</b></p>
      <div class="left">
        <div class="part1">

        </div>
        <div class="part2">

        </div>
      </div>
      <div class="center">

      </div>
      <div class="right">

      </div>
    </div>
    <div class="ruler">

    </div>
    <div class="footer">

    </div>
  </div><!--contentWrapper-->
</body>
</html>
