<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Notes Gallery</title>
  <style media="screen">
    h2{

    }
    ol{

    }
  </style>
</head>
<body>
  <div class="contentWrapper">
    <div class="haddeer">
      <h1>Notes Gallery</h1>
    </div>
    <div class="menu">
      <center>
        <a href="#">Home</a>
        <a href="#">Course Template</a>
        <a href="#">MID-SEM Sheduler</a>
        <a href="#">END-SEM Sheduler</a>
        <a href="#">Student Search</a>
        <a href="#">Notes</a>
      </center>
    </div>
    <div class="part1">
      <p>For contibution / feedback / addition or deletion of any material, mail to- rajab@iitk.ac.in.</p>
      <h2><b>1st Year Institute Compulsory(IC) Courses</b></h2>
      <ol>
        <li>CHM101A - Chemistry Lab</li>
        <li>CHM102A - General Chemistry</li>
        <li>ESC101A - Fundamental Of Computing (Hindi Lectures)</li>
        <li>LIF101A - Introduction To Biology</li>
        <li>MTH101A - Mathematics-I (Calculus)*(updated)</li>
        <li>MTH102A - Mathematics-II (Linear Algebra & ODE)*(updated)</li>
        <li>PHY101A - Physics Lab</li>
        <li>PHY102A - Physics-I (Mechanics)</li>
        <li>PHY103A - Physics-II</li>
        <li>TA101A - Engineering Graphics</li>
      </ol>
    </div>
    <div class="part2">
      <h2><b>2nd Year Compulsory(IC) Courses</b></h2>
<ol >
	<li>COM200A - <a target="_blank" href="https://drive.google.com/drive/folders/12s0YGbICChSj1HKDgg5WsJDjYrus8MC_?usp=sharing">Communication Skills: Composition</a></li>
	<li>ESC201A - <a target="_blank" href="https://drive.google.com/drive/folders/1MstpnkJn0W6TVCglaU4J3KhuI5AJahdO?usp=sharing">Introduction To Electronics</a><new>*(updated)</new></li>
	<li>TA201A - <a target="_blank" href="https://drive.google.com/drive/folders/1ZT4iBMQOeJztcffEEbpXQ37AM5SLmMX_?usp=sharing">Manufaturing Processes I</a><new>*(updated)</new></li>
	<li>TA202A - <a target="_blank" href="https://drive.google.com/drive/folders/1341mRGCVbfsBcGrHQ7Km7fpuIC4hnjQN?usp=sharing">Manufaturing Processes II</a><new>*(updated)</new></li>

</ol>
    </div>
    <div class="part3">
      <h2><b>Elementary Science Options (ESO) & SO's</b></h2>
<ol  >
	<li>ESO201A - <a target="_blank" href="https://drive.google.com/drive/folders/13mmDClNKyGxNR5MXmRKwywuiQqKON7yO?usp=sharing">Thermodynamics</a><new>*(updated)</new></li>
	<li>ESO202A - <a target="_blank" href="https://drive.google.com/drive/folders/1zW8hRi70SnqRSb5cZh73Hd2Y3vKR96R2?usp=sharing">Mechanics of Solid</a></li>
	<li>ESO203A - <a target="_blank" href="https://drive.google.com/drive/folders/18CYVgW_NPKIv5G2YWGjFN_E2XVoSf0iN?usp=sharing">Introduction to Electrical Engineering</a></li>
	<li>ESO204A - <a target="_blank" href="https://drive.google.com/drive/folders/1vmtOpgalht_Mo8efyeE3eRskJN6urJ7N?usp=sharing">Fluid Mechanics And Rate Process</a></li>
	<li>ESO205A - <a target="_blank" href="https://drive.google.com/drive/folders/1FFbFvCP2I_fP2hkpnD_iQ887Qwdsotc5?usp=sharing">Nature and Properties of Materials</a></li>
	<li>ESO206A - <a target="_blank" href="https://drive.google.com/drive/folders/1VE9_n8yu9tEeny-pZ07cRUUwmjf1ne96?usp=sharing">Biotechnology</a></li>
	<li>ESO207A - <a target="_blank" href="https://drive.google.com/drive/folders/1TUmMKGdPwc-mkQkTuDZgi2PL_ptdXnj0?usp=sharing">Data Structures</a></li>
	<li>ESO208A - <a target="_blank" href="https://drive.google.com/drive/folders/1YnUhTkcBPZf_qFB_o5Iq-aQQPSrqN04V?usp=sharing">Numerical Methods</a><new>*(updated)</new></li>
	<li>ESO209A - <a target="_blank" href="https://drive.google.com/drive/folders/1TrJtPqPZK7WwWPwwpaj0bz3sT0fu-vjS?usp=sharing">Dynamics</a></li>
	<li>MSO201A - <a target="_blank" href="https://drive.google.com/drive/folders/1slpfx2p13tsK4ZYr8vjN5gmoCND-nnh5?usp=sharing">Probability and Statistics</a><new>*(updated)</new></li>
	<li>MSO202A - <a target="_blank" href="https://drive.google.com/drive/folders/1JN0q9M1VY_tCQe7za6boWeBOU931K1kI?usp=sharing">Complex Variable</a></li>
	<li>MSO203B - <a target="_blank" href="https://drive.google.com/drive/folders/1KlBrFZUlsYDXz-MS8pH__I3m73_AxGe2?usp=sharing">Partial Differential Equations</a></li>
	<li>PSO201A - <a target="_blank" href="https://drive.google.com/drive/folders/164g-Tca9DeAFyTBnfq_BqHDHtffLZXFL?usp=sharing">Quantum Physics</a></li>
</ol>
    </div>
    <div class="part4">
      <h2><b>Humanities And Social Sciences- (HSS)</b></h2>
<ol >
	<li>ART106A - <a target="_blank" href="https://drive.google.com/drive/folders/13Mf3FKw0PXlSBnJA4Qu4k-tuY1AHa7Kj?usp=sharing">Elements of Visual Representation</a></li>
	<li>ECO101A - <a target="_blank" href="https://drive.google.com/drive/folders/1i4B21gKs5jARs12p8BXcl6hClSyeX4Mk?usp=sharing">Introduction To Economics</a><new>**(updated)**</new></li>
	<li>ECO424A - <a target="_blank" href="https://drive.google.com/drive/folders/1vMIX3qw7QICMzORKbM9klTrwYXN1cbDu?usp=sharing">Economic Analysis of Law</a></li>
	<li>ENG124A - <a target="_blank" href="https://drive.google.com/drive/folders/1dt6iIAxuLCqbIE_yA7UdRxGkWNEIuwbi?usp=sharing">Language And Socity</a><new>*(updated)</new></li>
	<li>ENG447A - <a target="_blank" href="https://drive.google.com/drive/folders/1_aiWzyIzNb1ZBUXiX1PFOmu38zLvoHJV?usp=sharing">Cognitive Linguistics</a><new>*(updated)</new></li>
	<li>PHI142A - <a target="_blank" href="https://drive.google.com/drive/folders/1xslodkPldST3NfXbuZ-jAYp98KIzXYsd?usp=sharing">Introduction To Logic</a><new>*(updated)</new></li>
	<li>PSY151A - <a target="_blank" href="https://drive.google.com/drive/folders/1K8iAOKc1WN3bKpDsSwWfFe5mAw0JG8gK?usp=sharing">Introduction To Psychology</a></li>
	<li>PSY458A - <a target="_blank" href="https://drive.google.com/drive/folders/1Gm34bf5loRJwi_P7lHR_ivBexVaoNgHj?usp=sharing">Organizational and Administrative Psychology</a></li>
	<li>SOC486A - <a target="_blank" href="https://drive.google.com/drive/folders/1VtN21dv982xNXOmytEFtuJdg6ggddG8y?usp=sharing">Human Rights- Theory and Practice</a></li>
</ol>
    </div>
    <div class="part5">
      <h1>Departmental Courses</h1>
    </div>
    <div class="part6">
      <h3><b>Aerospace Engineering(AE)</b></h3>
<ol  >
	<li>AE201A - <a target="_blank" href="https://drive.google.com/drive/folders/1T4_sVYWICcUmLX1_aieytXaIX-E4VGBz?usp=sharing">Introduction To Aerospace Engineering</a></li>
	<li>AE211A - <a target="_blank" href="https://drive.google.com/drive/folders/138hqFqf5OAhjYwIv4FgocnVDz8qPzfv6?usp=sharing">Aerodynamics-I</a></li>
	<li>AE321A - <a target="_blank" href="https://drive.google.com/drive/folders/1mvDC31q0ieu-KmH1IWe6IUbspn3LXGNE?usp=sharing">Flight Mechanics I </a></li>
	<li>AE331A - <a target="_blank" href="https://drive.google.com/drive/folders/1BuXnXhdzesUOHDhaP3mC6YrHu3Soqlh8?usp=sharing">Introduction To Aerospace Structures</a></li>
	<li>AE421A - <a target="_blank" href="https://drive.google.com/drive/folders/1OupFf5jyYomOXU9droR_oel9cJXZoS_6?usp=sharing">Experiments in Flight Mechanics</a></li>
	<li>AE481A - <a target="_blank" href="https://drive.google.com/drive/folders/1u5tO1mHxrU2wLZTNFsgAWpWrYLjuOQW7?usp=sharing">Boundary- Layer Theory</a></li>
</ol>
    </div>
    <div class="part7">
      <h3><b>Biological Sciences and Bio-Engineering(BSBE)</b></h3>
<ol >
	<li>BSE221A - <a target="_blank" href="https://drive.google.com/drive/folders/1q1VcFvrn2NjHcaHd85pFtDA-Cve1MR10?usp=sharing">Biochemistry</a></li>
	<li>BSE222A - <a target="_blank" href="https://drive.google.com/drive/folders/18VnOpSxK9eyqtAFY9XPlWROOZF8MACBM?usp=sharing">Biochemical Engineering</a></li>
	<li>BSE311A - <a target="_blank" href="https://drive.google.com/drive/folders/1zOnJYKRy-KPqnLu_ADhqF0KvQ1i_86Kv?usp=sharing">Molecular Cell Biology</a></li>
	<li>BSE492A - <a target="_blank" href="https://drive.google.com/drive/folders/1biNcoDHDV1QLGyOgBKWTvI8qWCMD9hHI?usp=sharing">Methods in Biotechnology-I, Experimental Bioseperation</a></li>
	<li>BSE656A - <a target="_blank" href="https://drive.google.com/drive/folders/1g6Bw8WfafcVo54U2o7psN35CW04mlkhi?usp=sharing">Neurobiology</a></li>
</ol>
    </div>
    <div class="part8">
      <h3><b>Civil Engineering(CE)</b></h3>
<ol  >
	<li>CE211A - <a target="_blank" href="https://drive.google.com/drive/folders/1eATIHmaFW6rF_byepK7Eo1EK1suGKNNN?usp=sharing">Environmental Quality and Pollution</a></li>
	<li>CE241A - <a target="_blank" href="https://drive.google.com/drive/folders/1KpR_QXWvCRCTo53bbfoiG4mfv9mTA7v-?usp=sharing">Sustainable Built Environment</a></li>
	<li>CE242A - <a target="_blank" href="https://drive.google.com/drive/folders/1d9Ad3nai_CuLHWDIEjerHzBuxfH99ALM?usp=sharing">Civil Engineering Materials</a></li>
	<li>CE262A - <a target="_blank" href="https://drive.google.com/drive/folders/1aVvuavex3yOUtXmmjOvwu-XGpR-Y0voN?usp=sharing">Engineering Hydraulics</a></li>
	<li>CE272A - <a target="_blank" href="https://drive.google.com/drive/folders/1oApwW7JEmwtnCYsFDuTqBZX0WaGpyEcI?usp=sharing">Structural Analysis</a></li>
	<li>CE321A - <a target="_blank" href="https://drive.google.com/drive/folders/1Qu4a2RmY30Rq9R0sky0DlZZJ9TNc-Z-3?usp=sharing">Structural Design -I (Steel)</a></li>
	<li>CE331A - <a target="_blank" href="https://drive.google.com/drive/folders/1LJ2uhheyWR0iIhYc0gd3C4THPpoksxYd?usp=sharing">Geoinformatics</a></li>
	<li>CE351A - <a target="_blank" href="https://drive.google.com/drive/folders/1WfvqIoI7yajadVKbftdA_RQIXEff3TOg?usp=sharing">Soil Mechanics</a></li>
	<li>CE361A - <a target="_blank" href="https://drive.google.com/drive/folders/1Cw84f3JLzuPBVi1sXvZ6WgzmLgBOtJF2?usp=sharing">Engineering Hydrology</a></li>
	<li>CE371A - <a target="_blank" href="https://drive.google.com/drive/folders/1YuX79P8tyGyYrsvDHBqOyePymbUCXXCu?usp=sharing">Design of Steel Structures</a></li>
</ol>
    </div>
    <div class="part9">
      <h3><b>Chemical Engineering(CHE)</b></h3>
<ol  >
	<li>CHE211A - <a target="_blank" href="https://drive.google.com/drive/folders/16CfHLeTXbfzQVxgj9llzRVEkdQNp4UEx?usp=sharing">Fluid Mechanics</a><new>*(updated)</new></li>
	<li>CHE221A - <a target="_blank" href="https://drive.google.com/drive/folders/1kiBefLd1C6IHMqLC32jyWW4mxPTAo-pc?usp=sharing">Chemical Engieering Thermodynamics</a><new>*(updated)</new></li>
	<li>CHE251A - <a target="_blank" href="https://drive.google.com/drive/folders/1DWWYEeAbxnt17rRj2Lit323L6TQl7r7H?usp=sharing">Chemical Process Calculations</a></li>
	<li>CHE261A - <a target="_blank" href="https://drive.google.com/drive/folders/1OKIfpqBr0VBnl_T0m_E1_JDFuNoVIX3K?usp=sharing">Chemical Process Industries</a></li>
	<li>CHE312A - <a target="_blank" href="https://drive.google.com/drive/folders/1CGODUDS7JsBrIwWJFxzx4eR4Xy-Jw17O?usp=sharing">Heat and Mass Transfer</a></li>
	<li>CHE313A - <a target="_blank" href="https://drive.google.com/drive/folders/1cf0vu_KpQ6zY8n_JIUUL_0HwXAd2fA0Q?usp=sharing">Separation Processes</a></li>
</ol>
    </div>
    <div class="part10">
      <h3><b>Computer Science and Engineering(CSE) <a target="_blank" href="https://www.cse.iitk.ac.in/pages/Courses.html">(Home Page)</b></a></h3>
<ol >
	<li>CS201 - <a target="_blank" href="https://drive.google.com/drive/folders/1SgtEKgDXsEzb4kyjxSa-E0QFfgYeJong?usp=sharing">Discrete Mathematics</a><new>*(updated)</new></li>
	<li>CS202 - <a target="_blank" href="https://drive.google.com/drive/folders/1f09Xl1PXmLGiwNOEH-zGlLykYiiGI2Ry?usp=sharing">Mathematics for Computer Science - II</a></li>
	<li>CS203 - <a target="_blank" href="https://drive.google.com/drive/folders/1MfNrMO2K5hAGcSsTpS_WYQ9p0i00ccSA?usp=sharing">Mathematics for Computer Science - III</a></li>
	<li>CS210 - <a target="_blank" href="https://drive.google.com/drive/folders/1AWyheDoi9anrlqbs-p_QFMVqcppXz2kH?usp=sharing">Data Structures</a><new>*(updated)</new></li>
	<li>CS220 - <a target="_blank" href="https://drive.google.com/drive/folders/1hIOEzUszohqONHMwBZFOed0Ty6VgVCZ5?usp=sharing">Computer Organization</a><new>*(updated)</new></li>
	<li>CS251 - <a target="_blank" href="https://drive.google.com/drive/folders/1o1xWQwVbRJ68w_HG2ZSFxdjsmOFTdH-u?usp=sharing">Computing Laboratory - I</a><new>*(updated)</new></li>
	<li>CS252 - <a target="_blank" href="https://drive.google.com/drive/folders/1yo7TWHojrwxSCnKPO2CPFjVBwc6e1zWf?usp=sharing">Computing Laboratory - II</a><new>*(updated)</new></li>
	<li>CS300 - <a target="_blank" href="https://drive.google.com/drive/folders/1n3YazVkWgFK-Jycf2dxdPOkllMbe5vJL?usp=sharing">Computer Science and Engineering Communication Skills</a><new>*(updated)</new></li>
	<li>CS315 - <a target="_blank" href="https://drive.google.com/drive/folders/1bSSxAqewWEG08UyGYgrbpQMKWFP5mZYx?usp=sharing">Principles of Database Systems</a><new>*(updated)</new></li>
	<li>CS330 - <a target="_blank" href="https://drive.google.com/drive/folders/1hfNW9PagrGQM8D7opalyytbSZUXuT5Qj?usp=sharing">Operating Systems</a><new>*(updated)</new></li>
	<li>CS335 - <a target="_blank" href="https://drive.google.com/drive/folders/1fpdNEFycOL_3pAZOb8mfelSAfTZP_2Fb?usp=sharing">Compiler Design</a><new>*(updated)</new></li>
	<li>CS340 - <a target="_blank" href="https://drive.google.com/drive/folders/1w50PR45wpNe11YeJtS6PIiDw8Agh9GT2?usp=sharing">Theory of Computation</a><new>*(updated)</new></li>
	<li>CS345 - <a target="_blank" href="https://drive.google.com/drive/folders/1qqnSg3mQS9WQFHRDPlW6i8tqSKZ6otPa?usp=sharing">Algorithms II</a><new>*(updated)</new></li>
	<li>CS365 - <a target="_blank" href="https://cse.iitk.ac.in/users/cs365/2015/resources.html">Artificial Intelligence</a></li>
	<li>CS396 - <a target="_blank" href="https://drive.google.com/drive/folders/1YrNoakqotmAsPV5qkWcD0BNSIsKk9D8o?usp=sharing">Research_Papers_on_NVRAM</a><new>*(updated)</new></li>
	<li>CS422 - <a target="_blank" href="https://drive.google.com/drive/folders/1cb1NOlD7UVnxOClTU5lTTrmtcvxGtwBs?usp=sharing">Computer Architecture</a><new>*(updated)</new></li>
	<li>CS425 - <a target="_blank" href="https://www.cse.iitk.ac.in/users/dheeraj/cs425/">Computer Networks</a></li>
	<li>CS771 - <a target="_blank" href="https://drive.google.com/drive/folders/13YJ1yVucJwlwELfAqoDWGUz3lHUmCSof?usp=sharing">Introduction to Machine Learning</a><new>*(updated)</new></li>


</ol>
    </div>
    <div class="part11">
      <h3><b>Electrical Engineering(EE)</b></h3>
<ol >
	<li>EE200A - <a target="_blank" href="https://drive.google.com/drive/folders/1CX6jULCmE7R20NjbmBmbYi2CtJJh737K?usp=sharing">Signals, Systems And Networks</a></li>
	<li>EE210A - <a target="_blank" href="https://drive.google.com/drive/folders/1szucIybSPoOgY52Y4S9QxulmkqZ0qXOX?usp=sharing">Microelectronics I</a></li>
	<li>EE250A - <a target="_blank" href="https://drive.google.com/drive/folders/1QXqvF6rYeulsBkEwF_ECH7P8ahzhkufv?usp=sharing">Control System Analysis</a></li>
	<li>EE320A - <a target="_blank" href="https://drive.google.com/drive/folders/1Q5yihnzQ8uXE9cIYyOoxJfuQRGYvbltl?usp=sharing">Principles Of Communication</a></li>
	<li>EE330A - <a target="_blank" href="https://drive.google.com/drive/folders/18OnDc7VOkLfGHxBnuPv1K0cn3aC7REi6?usp=sharing">Power Systems</a></li>
	<li>EE340A - <a target="_blank" href="https://drive.google.com/drive/folders/19fsIplxPcAcX3Tc_qVqERVDg8AtnlnpF?usp=sharing">Electromagnetic Theory</a></li>
	<li>EE370A - <a target="_blank" href="https://drive.google.com/drive/folders/1hh25db0x1birby1NPft0luqbOgVvOTdm?usp=sharing">Digital Electronics & Microprocessor Technology</a></li>
</ol>
    </div>
    <div class="part12">
      <h3><b>Mechanical Engineering(ME)</b></h3>
<ol  >
	<li>ME222A - <a target="_blank" href="https://drive.google.com/drive/folders/1lU9tc9mVSo416B_T464Lz_h94Jm5w2qB?usp=sharing">Nature and Properties of Materials</a></li>
	<li>ME231A - <a target="_blank" href="https://drive.google.com/drive/folders/1bpX_ICfBtr6TN6snNyheDpZFIwCzqKqp?usp=sharing">Fluid Mechanics</a></li>
	<li>ME251A - <a target="_blank" href="https://drive.google.com/drive/folders/1Wbr-95YuxwbciyarRe2_Eb0ENv30NaKb?usp=sharing">Engineering Design And Graphics</a></li>
	<li>ME301A - <a target="_blank" href="https://drive.google.com/drive/folders/1mp13B-JAa8GByz5lMicXMBl_YIHoPXSw?usp=sharing">Energy Systems-I</a></li>
	<li>ME321A - <a target="_blank" href="https://drive.google.com/drive/folders/1Rpj2tIOi60ZAcF-rxt4go9QR2i_21zH3?usp=sharing">Advance Mechanics Of Solids</a></li>
	<li>ME341A - <a target="_blank" href="https://drive.google.com/drive/folders/1W7b6T12X_uhV3_jhxDl5hU82Ff5ElWEu?usp=sharing">Heat and Mass Transfer</a></li>
	<li>ME351A - <a target="_blank" href="https://drive.google.com/drive/folders/13bL9U96QOyY4EdYcK34e9Ii_qW1okdh7?usp=sharing">Design of Machine Elements</a></li>
	<li>ME352A - <a target="_blank" href="https://drive.google.com/drive/folders/1t9sTHaoAzpDi3-fUbVZt7IpmFsse9r_c?usp=sharing">Theory of Mechanisms and Machines</a></li>
	<li>ME354A - <a target="_blank" href="https://drive.google.com/drive/folders/1ZpjuN4-TKojBfTOMYZx403roq2EBbOW9?usp=sharing">ME354A</a></li>
	<li>ME361A - <a target="_blank" href="https://drive.google.com/drive/folders/1DLbviWsBFXLmkxWKCgmGEG0fv1idseuN?usp=sharing">Manufacturing Science Technology</a></li>
	<li>ME399A - <a target="_blank" href="https://drive.google.com/drive/folders/1zHdJC60FkiOEsY14MbNnhHjPHjG59V9m?usp=sharing">Mechanical Engineering Communication Skills</a></li>
	<li>ME401A - <a target="_blank" href="https://drive.google.com/drive/folders/1Hsw3-Wz0pLHwiFNR7pxfVIFZkLhDoMwX?usp=sharing">Energy Systems-II</a></li>
	<li>ME461A - <a target="_blank" href="https://drive.google.com/drive/folders/1sXGXJunO3d0iJ1YPB_vGV-oVz1z7Qkqw?usp=sharing">Manufacturing Systems</a></li>
	<li>ME613A - <a target="_blank" href="https://drive.google.com/drive/folders/1jVkohiC3feWF00egBiTUOAy1oas6si8P?usp=sharing">Thermal Environmental Control</a></li>
	<li>ME623A - <a target="_blank" href="https://drive.google.com/drive/folders/1rVsfkVyk-xc8xcfvzuhA5yWoxWwR3IWW?usp=sharing">Finite element methods in engineering mechanics</a></li>
	<li>ME630A - <a target="_blank" href="https://drive.google.com/drive/folders/1CAIDC5En32ct9dj8T_2RR1QuU-hsIVCg?usp=sharing">Computational Fluid Dynamics And Heat Transfer</a></li>
	<li>ME642A - <a target="_blank" href="https://drive.google.com/drive/folders/1DMbDpG-QOqyUt5Pyg0qKk2ti4nqSSlhU?usp=sharing">Convective Heat and Mass Transfe</a></li>
	<li>ME698A - <a target="_blank" href="https://drive.google.com/drive/folders/15yf2W_BrpMS5ByB4eBYw0xdKtyGo3kau?usp=sharing">ME698A</a></li>
	<li>ME724A - <a target="_blank" href="https://drive.google.com/drive/folders/1xXUGBHul_AnG5CtKt_assE9p7czYVPNC?usp=sharing">Mechanics Of Biological Membranes</a></li>
	<li>ME751A - <a target="_blank" href="https://drive.google.com/drive/folders/1fghG-RKrZt3H36V-Mp1vCUTsCu5JmZD9?usp=sharing">Computer Aided Engineering Design</a></li>
</ol>
    </div>
    <div class="part13">
      <h3><b>Materials Science and Engineering(MSE)</b></h3>
<ol type="1">
	<li>MSE201A - <a target="_blank" href="https://drive.google.com/drive/folders/1zgICPnJMOHgICe2mwwk0qsL4e12Z7qX3?usp=sharing">Thermodynamics & Phase Equilibria</a></li>
	<li>MSE202A - <a target="_blank" href="https://drive.google.com/drive/folders/1fKszfzhEfccdxlwFdZptWUxMz0NgCrPc?usp=sharing">Rate Processes</a></li>
	<li>MSE615A - <a target="_blank" href="https://drive.google.com/drive/folders/1fbayKyHrDpf6e7kO93UiSLNJ3fmuFDz2?usp=sharing">MSE615A</a></li>
</ol>
    </div>
    <div class="part14">
      <h3><b>Physics(PHY)</b></h3>
<ol type='1'>
	<li>PHY226B - <a target="_blank" href="https://drive.google.com/drive/folders/1PXZJgjJ4Id96xK45d5K_TWJeFb4xV7uo?usp=sharing">Relativity</a><new>*(updated)</new></li>
	<li>PHY224A - <a target="_blank" href="https://drive.google.com/drive/folders/1Z4A6pv-3CNeEQj8L45PQVZyGmtsB3uQ8?usp=sharing">Optics</a><new>*(updated)</new></li>
	<li>PHY421A - <a target="_blank"
href="https://drive.google.com/drive/folders/10kXNpLV-t9xxQuNW4nMWOIVD_mJ0LZG2?usp=sharing">Mathematical Methods</a>
	<li>PHY431A - <a target="_blank" href="https://drive.google.com/drive/folders/1hK9jiWPjB4Fuy1Y1gW-90HUsXdy2NQcq?usp=sharing">Quantum Mechanics I</a><new>*(updated)</new></li>


</ol>
    </div>
    <div class="part15">
      <h3><b>Mathematics and Scientific Computing(MnC) / (MTH)</b></h3>
<ol type='1'>
	<li>MTH201A - <a target="_blank" href="https://drive.google.com/drive/folders/1_4FA2WfPmI-o5ANZmw63G1IIKbL4DbA0?usp=sharing">Linear Algebra</a><new>*(updated)</new></li>
	<li>MTH204A - <a target="_blank" href="https://drive.google.com/drive/folders/1HDkD5eZIwGhYOlPqnxTrO2U90eXZaanZ?usp=sharing">Abstract Algebra</a><new>*(updated)</new></li>
	<li>MTH301A - <a target="_blank" href="https://drive.google.com/drive/folders/1HPdNp0AEdW6QdzuI6OgKx8FvaMmdPeN6?usp=sharing">Analysis-I</a></li>
	<li>MTH302A - <a target="_blank" href="https://drive.google.com/drive/folders/1fbYYNIrW_TPTpwEi4_DMgaW4DYmWHReu?usp=sharing">Mathematical Logic</a><new>*(updated)</new></li>
</ol>
    </div>
    <div class="part16">
      <p>Developed By Sunil Dhaka</p>
    </div>
  </div> <!--End of contentWrapper-->
</body>
</html>
